Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [3]:
import numpy as np

lst = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

a = sorted(lst, key = lambda x: x[1])

In [4]:
a

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
def square(x):
        return x**2

In [7]:
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

a2 = list((map(square, l2)))

In [8]:
a2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [57]:
l3 =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
a = tuple(map(str, l3))

In [59]:
a

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [97]:
from functools import reduce

In [98]:
reduce(lambda x,y: x*y, list(i for i in range(1,26)))

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [112]:
l=[2,3,6,9,27,60,90,120,55,46]

a = list(filter(lambda x: x if ((x%2 ==0)and (x%3==0)) else None,l))

In [113]:
a

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [114]:
texts = ['python', 'php', 'aba', 'radar', 'level']

result = list(filter(lambda x: (x == "".join(reversed(x))), texts)) 

print(result)

['php', 'aba', 'radar', 'level']