1.What is a database? Differentiate between SQL and NoSQL databases.

A database is built for storing data in application development. A database contains various data that is stored in an application
SQL is a structured query language used to access the data from the database. it goes through the data in a structured way. mysql, oracle are few examples for sql
NoSQL is a not only structured query language that can accomodate any kind of unstructured data like image, textfile, etc. Mangodb, casandra are few examples for nosql.

2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL is data definition language used in SQL to create, modify the schema of the database and its objects.

CREATE is used to create a new database table, index or trigger
Example:  CREATE DATABASE if not exists test1; creates a database named test1

DROP is used to delete or remove the database table and index
example: DROP DATABASE test1; deletes the database test1

ALTER modifies by adding or droping the existing structure of the database table
Example: ALTER TABLE test1 ADD mynewcolumn; mynewcolumn is added to the existing test1 table

TRUNCATE deletes all the records from the mentioned table and the space allocated for it
Example: TRUNCATE TABLE test1; it removes the test1 table and the space of it

3 What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML refers to data manipulation language. It is used to change the data present in sql database, access or modify the existing data in the database 

INSERT command is used to insert data into the existing table
example: INSERT INTO table1(rollnumber) VALUES (25)

UPDATE command is used to update the existing data within a table
example: UPDATE Product SET Product_Price = 80 WHERE Product_Id = 'P102' ;  

DELETE: deletes the records in the existing table
example:DELETE FROM Product WHERE Product_Id = 'P202' ;

4.. Q4. What is DQL? Explain SELECT with an example.

Data Query Langage is to perform the queries on the data within the objects. It performs operations in the database using queries
SELECT retrieves the data from a table in the database. it is used to retrieve subset of records from one or more tables.
EXAMPLE: SELECT * from table1;

Q5. Explain Primary Key and Foreign Key.

A primary key constraint in the relational database acts as a unique identifier for every row in the table. In contrast, a foreign key constraint establishes a relationship between two different tables to uniquely identify a row of the same table or another table.

Each table in a relational database can't define more than one primary key while we can specify multiple foreign keys in a table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="user",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test1")


'''
cursor goes through the data in the table line by line like a cursor of mouse pointer.
execute method is used to execute the SQL code in database from the python notebook.
'''

Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM
2. WHERE
3. GROUPBY
4. HAVING
5. SELECT
6. ORDERBY
7. LIMIT