### 1. Accept percentage from the user and display grade according to given criteria

Marks >90 grade A; >80 and <=90 grade B; >=60 and <=80 grade; C below 60 grade D

In [4]:
mark = int(input ('Enter your mark:'))

if mark>90:
    print('Grade A')
elif mark>80 and mark<=90:
    print('Grade B')
elif mark>=60 and mark<=80:
    print('Grade C')
else:
    print('Grade D')

Enter your mark: 78

Grade C

### 2. Accept cost price of a bike and display the road tax to be paid according to given criteria:

if cost is >100000 15% tax; >50000 and <=100000 10% tax; <=50000 5% tax

In [2]:
cost = int(input('Enter your cost price:'))

if cost>100000:
    print("Pay 15% tax")
elif cost>50000 and cost<=100000:
    print("Pay 10% tax")
else:
    print("Pay 5% tax")

Enter your cost price: 53733

Pay 10% tax

### 3. Accept any city from the user and display monuments of that city

delhi- red fort
agra- taj mahal
jaipur- jal mahal

In [4]:
city = input ('Enter your city:')
if city=='Delhi':
    print('Red fort')
elif city=='Agra':
    print('Taj mahal')
elif city=='Jaipur':
    print('Jal mahal')
else:
    print('Enter the city: Delhi, Agra, Jaipur')

Enter your city: Jaipur

Jal mahal

### 4. Check how many times a given number can be divided by 3 before it is less than or equal to 10

In [23]:
number = 46
n=0
while number > 10:
    number =  number/3
    n=n+1

print(n)

2

### 5.why and when to use while loop in python

In [27]:
"""
While is an entry check loop which runs until a condition is satisfied. 
in other words, the loop will execute until the condition becomes false
"""

### Example- heat water till maximum is reached
water = 95
while water<100:
    water = water+1
    print('heater on')

heater on
heater on
heater on
heater on
heater on

### 6. use nested while loop to print 3 different pattern

In [36]:
row=4
i=1
while i <= row:
    j=1
    while j<=i:
        print('*',end='')
        j=j+1
    print()
    i=i+1

*
**
***
****

In [38]:
row=4
i=1
while i <= row:
    j=row
    while j>=i:
        print('*',end='')
        j=j-1
    print()
    i=i+1

****
***
**
*

In [39]:
n = int(input('Enter number of rows : '))
 
k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows :  3

  1
  2   3
  4   5   6

### 7. reverse a while loop to display numbers from 10 to 1

In [43]:
n=10
while n>=1:
    print(n)
    n= n-1

10
9
8
7
6
5
4
3
2
1

### 8. repeated 7th question

In [44]:
n=10
while n>=1:
    print(n)
    n= n-1

10
9
8
7
6
5
4
3
2
1